@keyframes typewriter {
  0% { width: 0 }
  80% { width: 100% }
  100% { width: 0 }
}
@keyframes blink {
  0%, 100% { border-color: transparent }
  50% { border-color: #fff }
}
.typewriter {
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid #fff;
  width: 0;
  animation:
    typewriter 5s steps(2, end) infinite,
    blink 0.5s step-end;
  animation-fill-mode: forwards;
}

#font-bold {
  font-weight: bolder;
}

.font-family h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight:bolder;
}

@keyframes hero-bg-zoom {
  0% { background-size: 100% 100%; }
  100% { background-size: 110% 110%; }
}
.hero-bg-animate {
  animation: hero-bg-zoom 10s ease-in-out infinite alternate;
}

@keyframes hero-text-in {
  0% {
    opacity: 0;
    transform: scale(0.8) translateY(40px);
    filter: blur(8px); /* More blur for depth */
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
    filter: blur(0);
  }
}
.hero-text-animate {
  animation: hero-text-in 5s cubic-bezier(0.4,0,0.2,1) forwards;
}
p.font-family {
  font-family:'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6, .font-heading {
  font-family: 'Montserrat', sans-serif;
}

/* @keyframes scroll-projects {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
.animate-scroll-projects {
  animation: scroll-projects 20s linear infinite;
  width: max-content;
} */