  * {
    margin: 0;
    padding: 0;
} *     

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #19234B;
    color: white;
    padding: 10px;
    font-size: 20px;
    font-family:Geneva;
}

.nav-items {
    display: flex;
    gap: 20px; ;
    margin-right: 40px;
}

.textwhite {
    color:white;
}

.textbold {
    font-weight: bold;
}

a:hover {
    color: brown;
}

body {
     background-image:url(../Images/Presentation2.jpg) ;
}


.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    font-size: larger;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left:30px ;
    
}
.imageW {
    border-radius: 50%;
    width: auto;
    height: 75%;
}

.text {
   padding-top: 10%;
   /* justify-content: center; */

}

.text h1 {
    font-size: larger;
    font-weight: bold;
    text-wrap:normal;
    font-family: Geneva;
    color:black
}
.text p {
    font-size: larger;
    font-weight: bold;
    text-wrap:normal;
    font-family: Geneva;
    color: black;
    font-weight: bold; 
}

hr.decorative-line {
    border-top: 50% solid #19234B; /* Change color and thickness as needed */
    margin: 30px 0;                /* Space above and below the line */
    width: 60%;                    /* Adjust width as needed */
    margin-left: auto;
    margin-right: auto;
}

.buttons .button1,
.buttons .button2 {
    border-radius: 8px;
    padding: 12px 24px;
    font-size: 20px;
    width: 50%;
    cursor: pointer;
    border: none;
    background-color: #19234B;
    color: white;
    margin: 10px 0;
   
}
.buttons .button1:hover {
    background-color: #19234B;
    color: white;
    transform: scale(1.05);
    transition: all;
    box-shadow: white 0px 0px 10px;

}
.buttons .button2:hover {
    background-color: #19234B;
    color: white;
    transform: scale(1.05);
    transition: all;
    box-shadow: white 0px 0px 10px;

}